<body>
<h1>Search</h1>

<div id="homelink"><%= link_to 'Home', items_path %></div>

<%= form_tag(do_search_items_path, method: "get") do %>
	<%= label_tag(:title, "Title:") %></br>
	<%= text_field_tag(:title) %>
	<%= select_tag(:connector1, options_for_select(@and_or)) %></br>
	<%= label_tag(:description, "Description:") %></br>
	<%= text_field_tag(:description) %>
	<%= select_tag(:connector2, options_for_select(@and_or)) %></br>
	<%= label_tag(:owner, "Owner:") %></br>
	<%= text_field_tag(:owner) %>
	<%= select_tag(:connector3, options_for_select(@and_or)) %></br>
	<%= label_tag(:t, "Type:") %></br>
	<%= select(:t, :t_id, @type_drop_down)%>
	<%= submit_tag("Search") %>
<% end %>
</body>

